[submodule "Milky/vendor/spdlog"]
	path = Milky/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Milky/vendor/GLFW"]
	path = Milky/vendor/GLFW
	url = https://github.com/Ceriole/glfw
	ignore = all
